// Simple media query mixins because these things always make my brain hurt.

@mixin nano {
    @media only screen and (max-width: 17.4375em) {
        @content;
    }
}

@mixin micro {
    @media only screen and (min-width: 17.5em) {
        @content;
    }
}

@mixin micro-only {
    @media only screen and (max-width: 24.9375em) {
        @content;
    }
}

@mixin small {
    @media only screen and (min-width: 25em) {
        @content;
    }
}

@mixin small-only {
    @media only screen and (max-width: 37.4375em) {
        @content;
    }
}

@mixin medium {
    @media only screen and (min-width: 37.5em) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: 57em) {
        @content;
    }
}

@mixin xlarge {
    @media only screen and (min-width: 68.75em) {
        @content;
    }
}