.link-social {
    display: inline-block;
    line-height: 1;

    //&,
    & > .i {
        width: 20px;
        height: 20px;
    }

    &.-invert {
        color: #fff;
        padding: .25em .25em .125em;
        //width
    }
}

.link {
    transition: $base-transition;
    @include hocus() {
        color: $color-page-text;
    }
}

.link--tag {
    font-weight: $font-weight-bold;
    font-size: rem(18);
    line-height: 1.2;

    @include medium {
        font-size: rem(21);
        line-height: 1.1;
    }

    @include large {
        font-size: rem(23);
        line-height: 1.05;
    }
}


.link--underline {
    box-shadow: inset 0 -.062em 0 #fff;
    @include hocus() {
        box-shadow: inset 0 -.062em 0 $color-page-text;
    }
}

.faux-link--underline {
    transition: $base-transition;
    box-shadow: inset 0 -.062em 0 #fff;
    //.no-touch a:hover & {
    //    color: $color-page-text;
    //    box-shadow: inset 0 -.062em 0 $color-page-text;
    //}
}
