.grid {
    @include clearfix;
    margin:  0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

    .grid > * {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        font-size: medium; // Font-size medium reset the block to the context of body (ie, 16px)
        text-justify: auto;
    }


    // Push items apart from each other
    .grid--justified,
    .grid--polar {
        text-align: justify;
    }

    .grid--row-spacing {
        margin-bottom: $spacing-grid;

        & > * {
            margin-bottom: $spacing-grid;
        }
    }

    .grid--col-spacing {
        margin-left: -$spacing-grid;

        > * {
            padding-left: $spacing-grid;
        }
    }

    .grid--middle > * {
        vertical-align: middle;
    }

    .grid--bottom > * {
        vertical-align: bottom;
    }


.grid-float {
    @include clearfix;
    width: auto;

    > * {
        float: left;
        width: 100%;
    }
}

    .grid-float--row-spacing {
        margin-bottom: $spacing-grid;

        & > * {
            margin-bottom: $spacing-grid;
        }
    }

    .grid-float--col-spacing {
        margin-left: -$spacing-grid;

        > * {
            padding-left: $spacing-grid;
        }
    }
