/*------------------------------------*\
    #ALIGNMENTS
\*------------------------------------*/

.u-align-middle {
    vertical-align: middle !important;
}

.u-align-bottom {
    vertical-align: bottom !important;
}

.u-text-left,
.u-left {
    text-align: left !important;
}

.u-text-right,
.u-right {
    text-align: right !important;
}

.u-text-center,
.u-center {
    text-align: center !important;
}

.u-margin-center,
.u-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
