// ============================================================================
// Grid spacing
// ============================================================================

$grid-margin:          $base-spacing-unit;

.grid--row-spacing {
    margin-bottom: $grid-margin;

    > * {
        margin-bottom: $grid-margin;
    }
}

.grid--col-spacing {
    margin-left: -$grid-margin;

    > * {
        padding-left: $grid-margin;
    }
}
