.list-inline {
    margin-left: 0;
    padding: 0;
    list-style: none;
}

    .list-inline__item {
        display: inline-block;

        & + & {
            margin-left: $spacing-half;
        }
    }


/* SG
# Objects/list.inline

```

<ul class='list-inline'>
	<li class='list-inline__item'>List item one</li>
	<li class='list-inline__item'>List item two</li>
</ul>

```
*/