html {
    -webkit-box-sizing: inherit;
           -moz-box-sizing: inherit;
                box-sizing: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
           -moz-box-sizing: inherit;
                box-sizing: inherit;
}
