// Define styles for errors and warns that we can reuse throughout this file.

@mixin debug-warn() {
  outline: 5px solid yellow;
}

@mixin debug-error() {
  outline: 5px solid red;
}

@if (config(debug) == true) {
    // Images missing `alt` attributes is an error.
    img:not([alt]) {
    @include debug-error();
    }

    // Warn about links pointing to `#`.
    [href="#"] {
    @include debug-warn();
    }
}
