/* SG
# Utilities/Margins

```
<div style="background-color:#0F9850">
	<p style="background-color:#efefef" class="u-mb--">mb--</p>
	<p style="background-color:#efefef" class="u-mb-">mb-</p>
	<p style="background-color:#efefef" class="u-mb">mb</p>
	<p style="background-color:#efefef" class="u-mb+">mb+</p>
	<p style="background-color:#efefef" class="u-mb++">mb++</p>
</div>
```
*/

.u-mb-0 {
    margin-bottom: 0 !important;
}

.u-mb {
    margin-bottom: $base-spacing-unit !important;
}

.u-mb\+\+ {
    margin-bottom: round(2 * $base-spacing-unit) !important;
}

.u-mb-- {
    margin-bottom: round(.5 * $base-spacing-unit) !important;
}
