// -----------------------------------------------------------------------------
// ALIGNMENTS
// -----------------------------------------------------------------------------


// vertical aligns

.u-align-middle {
    vertical-align: middle !important;
}

.u-align-bottom {
    vertical-align: bottom !important;
}


// text aligns

.u-text-left {
    text-align: left !important;
}

.u-text-right {
    text-align: right !important;
}

.u-text-center {
    text-align: center !important;
}


// margin center

.u-margin-center,
.u-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}


// floats
.u-left {
    float: left !important;
}

.u-right {
    float: right !important;
}

.u-clear {
    clear: both !important;
    overflow: hidden;
    /* add clearfix */
}


/* SG
# Utilities/align

Here are some utility classes to help modify the vertical alignment, text alignment, margins and floats. To see the code used scroll to the code example below.

```
<h5>Vertical align:</h5>
<div class="u-align-middle">
    <img src="https://placekitten.com/200/150">
    <img src="https://placekitten.com/220/80">
</div>
<div class="">
  <img src="https://placekitten.com/200/150">
  <img src="https://placekitten.com/220/80" class='u-align-bottom'>
</div>
<br />

<h5>Text align:</h5>

<p class='u-text-left' style='background-color:#eee'>Left Text</p>
<p class='u-text-right' style='background-color:#eee'>Right Text</p>
<p class='u-text-center' style='background-color:#eee'>Centered Text</p>
<br />

<h5>Margin center: </h5>
<div class='u-auto'>
  <img src="https://placekitten.com/200/150">
</div>
<div class='u-margin-center'>
  <img src="https://placekitten.com/200/150">
</div>
<br />

<h5>Floats: </h5>
<div class='u-clear'>
    <img class='u-left' src="https://placekitten.com/200/150" />
    <img class='u-right' src="https://placekitten.com/220/80" />
</div>

```
*/
