// ============================================================================
// Site colors
// ============================================================================


//  Brand
// -----------------------------------------------------------------------------
$color-brand-primary:               	#378bb5;
$color-brand-primary-highlight:     	lighten($color-brand-primary, 5%);
$color-brand-primary-shadow:        	darken($color-brand-primary,  5%);

$color-brand-secondary:             	#c1813d;
$color-brand-secondary-highlight:   	lighten($color-brand-secondary, 5%);
$color-brand-secondary-shadow:      	darken($color-brand-secondary,  5%);


// Common
// -----------------------------------------------------------------------------
$color-black:                       	#000;
$color-white:                       	#fff;


// Page
// -----------------------------------------------------------------------------
$color-page-text:                   	$color-grey-dark;
$color-page-links:                  	inherit;
$color-page-background:             	#fff;


// Accesibility
// -----------------------------------------------------------------------------
$color-focus:                      		#6cc6ee;
$color-select:                     		#e5e5e5;


// Opacity
// -----------------------------------------------------------------------------
$color-white-opacity-01: rgba(0, 0, 0, .1);


// Buttons
// -----------------------------------------------------------------------------
$color-btn:                             $color-page-text;
$color-btn-border:                      $color-page-text;
$color-btn-background:                  #fff;
$color-btn-hover:                       #fff;
$color-btn-background-hover:            $color-page-text;


// Radio picker
// -----------------------------------------------------------------------------
$color-radio-picker-border: 			#dfdfdf;
$color-radio-picker-border-checked: 	#d2d2d2;
$color-radio-picker-bg: 				#eaeaea;
$color-radio-picker-bg-hover: 			#fafafa;
$color-radio-picker-bg-checked: 		#fff;

// Modals
// -----------------------------------------------------------------------------
$color-modal-control-bg: 				#333;
$color-modal-control-text: $color-page-text;
$color-modal-content-bg: 				#fff;

// Table
// -----------------------------------------------------------------------------
$color-table-border: 					#5CE59D;
$color-table-stripe: 					#F4FFFF;



