// ============================================================================
// Lists
// ============================================================================


// Remove trailing margins from nested lists.
li > {
    ul,
    ol {
        margin-bottom: 0;
    }
}

// Visually offset definition titles from their definitions.
dt {
    font-weight: $font-weight-medium;
}

/* SG
# Elements/lists

```
<h5>1. Ordered List</h5>
<ul>
	<li>List item one</li>
	<li>List item two</li>
</ul>

<h5>1. Un ordered List</h5>
<ol>
	<li>List item one</li>
	<li>List item two</li>
</ol>

<h5>3. Definition List</h5>
<dl>
  <dt>Coffee</dt>
  <dd>Black hot drink</dd>
  <dt>Milk</dt>
  <dd>White cold drink</dd>
</dl>

```
*/
