// ============================================================================
// tables
// ============================================================================

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

    th {
        text-align: left;
    }


/* SG
# Elements/tables

```
<table >
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
  </tr>
</table>

```
*/