// ============================================================================
// Headings
// ============================================================================

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
    line-height: $line-height-headline;
}

h1 {
    font-size: rem(34);

    @include medium {
        font-size: rem(64);
        line-height: 1.1;
    }

    @include large {
        font-size: rem(74);
        line-height: 1.05;
    }
}

h2 {
    font-size: rem(22);
}

h3 {
    font-size: rem(20);
}

h4 {
    font-size: rem(18);
}

h5 {
    font-size: rem(16);
}

h6 {
    font-weight: $font-weight-normal;
    font-size: rem(16);
}

/* SG
# Elements/headings

```
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

```
*/