// ============================================================================
// Page header
// ============================================================================
/* SG
# Components/page.header

The page.header file is where the sites primary navigation normally sits.
1. page-header--fixed
You can modify this element by adding the above class this will fix the header to the top of the page. We are unable to show an example as it will break the site but the code is outlined below.

```
    <div class="page-header page-header--fixed">
        <p>fixed header</p>
    </div>
```

*/

$height-logo: 2.25rem;

$height-header: $height-logo + (2 * $grid-spacing);


.page-header {
    @include clearfix;
}

    //page header modifier fixes the header in place
    .page-header--fixed {
        position: fixed;
        z-index: 10;
        height: $height-header;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        + * {
            margin-top: $height-header;
        }
    }
