// --------------------------------------------------
// Button groups
// --------------------------------------------------

//rem or em ?? we use rem quite alot should we keep this consistent

$button-margin: .5em;

@mixin justify-table {
    display: table;
    min-width: 100%;
    margin-right: -$button-margin;
    margin-left: -$button-margin;
    border-collapse: separate;
    border-spacing: $button-margin 0;
    table-layout: fixed;

    > * {
        display: table-cell;
        float: none;
        width: 1%;
    }
}

.btn-group > * {

    display: inline-block;
    margin-right: $button-margin;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;

    &:last-child {
        margin-right: 0;
    }

}

// --------------------------------------------------
// Button groups modifiers
// --------------------------------------------------


.btn-group--block > * {
    width: 100%;
    margin-right: 0;

    &:not(:last-child) {
        margin-bottom: $button-margin * 2;
    }
}

    .btn-group--block\@small > * {
        @include small {
            width: 100%;
            margin-right: 0;
            margin-bottom: $spacing;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

.btn-group--justified {
    @include justify-table;

    white-space: nowrap;
}

    .btn-group--justified\@small {
        @include small {
            @include justify-table;
        }
    }

.btn-group--reverse\@small {
    @include small {
        display: flex;
        flex-direction: column-reverse;

        > * {
            margin-top: $button-margin * 2;
            margin-bottom: 0;
        }

        > *:last-child {
            margin-top: 0;
        }
    }
}

/* SG
# Components/button-groups

Fred has organised some button group modifiers to make your life easier.

```
<h5>1. btn-group</h5>
<p>Surround the button with this class and it will add a right hand margin to each button except for the last button.</p>

<div class='btn-group'>
    <a href='#' class='btn'>btn 1</a>
    <a href='#' class='btn'>btn 2</a>
</div>
<br />

<h5>2. btn-group--block</h5>
<p>Surround the button with this class and it will modify the buttons to a full sized block.</p>

<div class='btn-group--block'>
    <a href='#' class='btn '>btn 1</a>
    <a href='#' class='btn '>btn 2</a>
</div>
<br />

<h5>3. btn-group--justified</h5>
<p>Surround the button with this class and it will justify the buttons.</p>
<div class='btn-group--justified'>
    <a href='#' class='btn '>btn 1</a>
    <a href='#' class='btn '>btn 2</a>
</div>
<br />

<h5>4. btn-group--reverse: </h5>
<p>Surround the button with this class and it will reverse the order of the buttons when on the small breakpoint.</p>

<div class='btn-group--reverse'>
    <a href='#' class='btn '>btn 1</a>
    <a href='#' class='btn '>btn 2</a>
</div>

```
*/
