
// --------------------------------------------------
// Vertical spacing
//
// The sections are set in settings.global.scss
// --------------------------------------------------
//shoudl we have this in the gloabl config or just in each partial??

$spacing-section: 3rem;

.section {
    padding-top: $spacing-section;
    padding-bottom: $spacing-section;
}

    .section--stacked {
        & + & {
            padding-top: 0;
        }
    }

    .section--no-top {
        padding-top: 0;
    }

    .section--no-bottom {
        padding-bottom: 0;
    }

/* SG
# Components/page.sections

Page Gutters determine the vertical spacing of the site

```
<div class='[ sections ]' style='background-color:#0F984F'>
    <p class='u-text-center' style='background-color:#f8f8f8'>
        You can see the sections highlighted by the green background
    </p>
</div>

```
*/