// ============================================================================
// Page wrappers ( Containing elements )
// ============================================================================

.wrapper {
    @include clearfix;
    max-width: $breakpoint-xlarge;
    margin-right: auto;
    margin-left:  auto;
}

    .wrapper--wide {
        max-width: 1400px;
    }

    .wrapper--narrow {
        max-width: 960px;
    }



/* SG
# Components/page.wrappers

Page wrappers control the width of the content

```
<div class='[ wrapper ]' >
    <div class='[ section gutters ]'>
        <p>
            The [ wrapper ] controls the width of the sites content, [ section ] and [ gutters ] sit inside this
        </p>
    </div>
</div>

```
*/
