// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

.link {
    transition: $base-transition;

    @include hover {
        color: $color-page-text;
    }
}

.link-social {
    display: inline-block;
    line-height: 1;

    > .link-social__icon {
        width: 20px;
        height: 20px;
    }
}

    .link-social--invert {
        color: $color-white;
        padding: .25em .25em .125em;
    }


.faux-link--underline {
    transition: $base-transition;
    box-shadow: inset 0 -.062em 0 $color-white;
}


// -----------------------------------------------------------------------------
// Link modifiers
// -----------------------------------------------------------------------------

.link--tag {
    font-weight: $font-weight-bold;
    font-size: rem(18);
    line-height: 1.2;

    @include medium {
        font-size: rem(21);
        line-height: 1.1;
    }

    @include large {
        font-size: rem(23);
        line-height: 1.05;
    }
}


.link--underline {
    box-shadow: inset 0 -.062em 0 $color-white;

    @include hover {
        box-shadow: inset 0 -.062em 0 $color-page-text;
    }
}

/* SG
# Components/links

```
<p><a href='#' class='link'><i class='link-social__icon'>icon</i>link social</a></p>
<p><a href='#' class='link'><i class='link-social__icon'>icon</i>link social with invert</a></p>

<p><a href='#' class='link'>link</a></p>
<h5>1. link--underline</h5>
<p><a href='#' class='link link--underline'>link underline</a></p>
<h5>2. link--tag</h5>
<p><a href='#' class='link link--tag'>link tag</a></p>
<h5>3. faux-link--underline</h5>
<p><a href='#' class='faux-link--underline'>faux link with underline</a></p>

```
*/