// ============================================================================
// Page sections ( Vertical spacing )
// ============================================================================

$section-spacing: 3rem;

.section {
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
}

    .section--stacked {
        & + & {
            padding-top: 0;
        }
    }

    .section--no-top {
        padding-top: 0;
    }

    .section--no-bottom {
        padding-bottom: 0;
    }

/* SG
# Components/page.sections

Page Gutters determine the vertical spacing of the site

```
<div class='[ sections ]' style='background-color:#0F984F'>
    <p class='u-text-center' style='background-color:#f8f8f8'>
        You can see the sections highlighted by the green background
    </p>
</div>

```
*/
