// --------------------------------------------------
// Page gutters
//
// The gutters are set in settings.global.scss
// --------------------------------------------------

.gutters {
    padding-right: $base-padding;
    padding-left: $base-padding;
}

    .gutters\@small {
        @include small {
            padding-right: $base-padding;
            padding-left: $base-padding;
        }
    }
    //turns the gutters off while on the breakpoint small
    .gutters--off\@small {
        @include small {
            padding-right: 0;
            padding-left: 0;
        }
    }
