/* REALLY NEED TO TIDY THIS FILE SINCE WE DON'T NEED TO HACK IT ANYMORE  */

/*
//  Themes
*/

.theme--dark {
    background-color:#3D4149;
    color:#fff
}
.theme--fred {
    background-color:#7DC265;
    color:#fff;
}

.theme--content {
    background-color:#ffffff;
}

/*
//  Themes
*/
.styleguide-section {
    border-bottom:1px solid #efefef;
    margin-bottom:30px;
    padding-bottom:30px;
}

.styleguide-section .result,
.styleguide-section .comment {
    padding: 0 1em 1em 1em;

}



/* menu */


.styleguide-menu li {
    padding: 0;
    margin: 0;
}

.styleguide-menu a {
    display: block;
    text-decoration: none;
    margin-bottom:9px;

}

.styleguide-menu ul ul a {
    padding: 0 1em 0 1em;
}

.styleguide-menu a:visited,
.styleguide-menu a:hover,
.styleguide-menu a:active {
    display: block;
}



/* overide to make the buttons a bit prettier :) */
.styleguide .btn {
    background-color: #7DC265;
    color: #fff;
    border-color: #7DC265;
    border-radius:0.2rem;
}

.styleguide .btn:hover{
    color:  #7DC265;
    background-color:#fff;

}
