// ============================================================================
// Themes
//
// The default theme goes first
// Following themes will override the default
// ============================================================================

$themes: (
    'pink': (
        theme-color: #f5b1d8,
        text-color: #333
    ),
    'green': (
        theme-color: #a5cc8e,
        text-color: #333
    ),
    'blue': (
        theme-color: #509ac7,
        text-color: #333
    )
);

@each $alias, $colors in $themes {
    $theme-color: map-get($colors, theme-color);
    $text-color: map-get($colors, text-color);

    .t-#{$alias} {

        //todo why ? when do we use this
        .u-current-color {
            color: $theme-color;
        }

        .u-current-color\:hover {
            @include hover {
                color: $theme-color;
            }
        }

        // Only use the --bg modifier when you want to apply background
        // color to the container you have set the theme class on.
        // eg. <div class-"t-green t-green--bg"></div>
        &.t-#{$alias}--bg,
        .u-current-bg-color {
            background-color: $theme-color;
        }

        .u-current-text-color {
            color: $text-color;
        }
    }

    .u-color-#{$alias} {
        color: $theme-color;
    }

    .u-color-#{$alias}\:hover {
        @include hover {
            color: $theme-color;
        }
    }

    .u-bg-color-#{$alias} {
        background-color: $theme-color;
    }

    .u-text-color-#{$alias} {
        color: $text-color;
    }
}


/* SG
# Theming/theming

Here are some default themes to get you up and running.
//todo
```
<div class="[ grid grid--row-spacing grid--col-spacing ]">
    <div class="[ width-1/4@large width-1/2@medium ]">
        <div class="">
            <div class="t-pink--bg">
                Aa <a href>a</a>
            </div>
            <div>
                <p class='t-pink'>t-pink</p>
            </div>
        </div>
    </div>
    <div class="[ width-1/4@large width-1/2@medium ]">
        <div class="">
            <div class="t-green ">
                Aa <a href>a</a>
            </div>
            <div class="">
                <p>t-green</p>
            </div>
        </div>
    </div>
    <div class="[ width-1/4@large width-1/2@medium ]">
        <div class="">
            <div class="t-blue">
                Aa <a href>a</a>
            </div>
            <div>
                <p>t-blue</p>
            </div>
        </div>
    </div>
</div>


```
*/
