<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png?v=2">
<link rel="icon" type="image/png" href="/static/images/favicon-32x32.png?v=2" sizes="32x32">
<link rel="icon" type="image/png" href="/static/images/favicon-16x16.png?v=2" sizes="16x16">
<link rel="manifest" href="/static/images/manifest.json?v=2">
<link rel="mask-icon" href="/static/images/safari-pinned-tab.svg?v=2" color="#7dc265">
<link rel="shortcut icon" href="/static/images/favicon.ico?v=2">
<meta name="apple-mobile-web-app-title" content="FED starter kit">
<meta name="application-name" content="FED starter kit">
<meta name="msapplication-config" content="/static/images/browserconfig.xml?v=2">
<meta name="theme-color" content="#ffffff">
