// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

*,
:after,
:before {
    box-sizing: border-box;
}

*:active,
*:focus {
    outline: none;
}

// We have Js that adds outline when
// keyboard tabbing but add back if no js
.no-js {
    *:focus {
        outline: solid 3px $color-focus;
    }
}

html {
    background-color: $color-stage-bg;
    height: 100%;
    min-height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px; // aka 1rem!
}

body {
    position: relative;
    background-color: $color-body-bg;
    color: $color-text;
    font-family: $font-family-primary;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
}


::selection {
    background: $color-select; // WebKit/Blink Browsers
}

::-moz-selection {
    background: $color-select; // Gecko Browsers
}
