// ----------------------------------------------------------------------------
// Mixins
// ----------------------------------------------------------------------------

// Add vertical padding or margin to an element
// Example: @include v-space( $property, $top $bottom );

@mixin v-space($property, $size) {
	// $size can either be one or two sizes.
	// $size must have a measurable unit eg. rem, px  
    @if length($size) == 1 {
        $top: $size;
        $bottom: $size;
    } @else if length($size) == 2 {
        $top: nth($size, 1);
        $bottom: nth($size, 2); 
    }

    #{$property}-top: $top;
    #{$property}-bottom: $bottom;
}