// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------


%serif {
    font-family: $font-family-serif;
}

%sans-serif {
    font-family: $font-family-sans-serif;
}

%body-type-size {
    @include medium {
        font-size: rem($font-size-base);
    }

    font-size: rem($font-size-base - 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: $line-height-headline;
    &:first-child {
        margin-top: 0;
    }
    > a {
        font-weight: inherit;
        text-decoration: none;
    }
}

%h1,
h1 {
    @include medium {
        font-size: rem(32);
    }

    font-size: rem(28);
}

.h1 {
    @extend %h1;
}


p,
ul,
ol,
dl,
address {
    margin-top: 0;
}

p,
li,
label,
td,
th,
input,
textarea,
button,
select {
    @extend %body-type-size;
}
