// ----------------------------------------------------------------------------
// Utilities
// ----------------------------------------------------------------------------
//
// CONTENTS --
// 1. Layout Helpers
// 2. Text Helpers
// 3. Accessibility Helpers
// 4. Margin & Padding Helpers
//


// 1. Layout Helpers
// ----------------------------------------------------------------------------
//

.u-clearfix,
%clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.u-inline-block,
%inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

.u-inline-block-medium,
%inline-block-medium {
    @include medium {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top;
    }
}

.u-align-middle {
    vertical-align: middle;
}

.u-align-bottom {
    vertical-align: bottom;
}

.u-block {
    display: block;
    visibility: visible;
}

.u-hidden {
    display: none;
    visibility: hidden;
}

.u-hidden-small {
    // @small (_breakpoints.scss) must use max-width 
    @include small { 
        display:none;
        visibility: hidden;
    }
}

.u-overflow {
    overflow: hidden;
}

.u-margin-center,
%margin-center {
    margin-left: auto;
    margin-right: auto;
}

.u-list,
%list-reset {
    margin: 0; 
    padding: 0;
    list-style: none;
}


// 2. Text Helpers
// ----------------------------------------------------------------------------
//

.u-center {
    text-align: center;
}

.u-right {
    text-align: right;
}

.u-bold {
    font-weight: $font-weight-bold;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-underline {
    text-decoration: underline;
}

// * 1. Ensures text doesn't wrap and break your layout
// * 2. Trigger overflow behavior
// * 3. Truncate the text
.u-truncate {
    overflow: hidden;               // [2]
    text-overflow: ellipsis;        // [3]
    white-space: nowrap;            // [1]
}

// Prevent all user interaction with the element
.disabled,
.u-disabled,
:disabled {
    pointer-events: none;
    cursor: default;
}


// 3. Accessibility Helpers
// ----------------------------------------------------------------------------
//

// An accessible label that takes up no visual space
.u-accessible,
%visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


// 4. Margin & Padding Helpers
// ----------------------------------------------------------------------------
//

.u-mb {
    // See _mixins.scss for more details
    @include v-space(margin, 0 $spacing); 
}

%no-top-first {
    &:first-child {
        margin-top: 0;
    }
}
