// -----------------------------------------------------------------------------
// Pattern library
// -----------------------------------------------------------------------------

@import 'settings';
@import 'tools';
@import 'generic';
@import 'elements';

@import 'print';

$color-patternlib-brand: #3d4149;
$color-patternlib-brand-secondary: #caffb2;

body {
    background-color: $color-white;
}

//  Themes

.theme--pattern-lib {
    background-color: $color-patternlib-brand;
    color: $color-white;
}

.theme--content {
    background-color: $color-white;
}

// Sections

.styleguide-section {
    border-bottom: 4px solid $color-grey-light;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.styleguide-section .result,
.styleguide-section .comment {
    padding: 0 1em 1em;
}

.styleguide-section .markup {
    padding: 1em;
}

.styleguide-layers li {
    padding: .5rem 0;
    border-top: 2px solid $color-grey-light;
    border-top-style: dashed;

}

// Menu

.styleguide-menu  {
    color: $color-patternlib-brand-secondary;
}

.styleguide-menu .submenu {
    list-style-type: none;
}

.styleguide-menu a {
    display: block;
    text-decoration: none;
    margin-bottom: 9px;
}


/* overide to make the buttons a bit prettier :) */
.styleguide .btn {
    background-color: $color-patternlib-brand;
    color: $color-white;
    border-color: $color-patternlib-brand;
    border-radius: .2rem;
}

.styleguide .btn:hover {
    color:  $color-patternlib-brand;
    background-color: $color-white;
}

// Page header

$height-logo: 2.25rem;

$height-header: $height-logo + (2 * $spacing);

.header {
    @include clearfix;
    background-color: $color-white;
    box-shadow: 0 3px 5px 0 rgba(63, 63, 63, .3);
}

.logo {
    font-size: 4rem;
}

.icon--leaf {
    width: 33px;
    height: 13px;
}

// Pattern library helpers

@include xsmall {
    .breakpoint-on-xsmall { background-color: $color-patternlib-brand; }
}
@include smallish {
    .breakpoint-on-smallish { background-color: $color-patternlib-brand; }
}
@include xsmall {
    .breakpoint-on-small { background-color: $color-patternlib-brand; }
}
@include medium {
    .breakpoint-on-medium { background-color: $color-patternlib-brand; }
}
@include large {
    .breakpoint-on-large { background-color: $color-patternlib-brand; }
}
@include xlarge {
    .breakpoint-on-xlarge { background-color: $color-patternlib-brand; }
}

.breakpoint-on-xsmall,
.breakpoint-on-smallish,
.breakpoint-on-small,
.breakpoint-on-medium,
.breakpoint-on-large,
.breakpoint-on-xlarge {
    padding: 1rem;
}
