// -----------------------------------------------------------------------------
// Pattern library
// -----------------------------------------------------------------------------

@import 'settings';
@import 'tools';
@import 'generic';
@import 'elements';

@import 'print';

$color-patternlib-brand: #7DC265;

body {
    background-color: $color-white;
}

//  Themes

.theme--dark {
    background-color:#3D4149;
    color:#fff
}
.theme--fred {
    background-color:$color-patternlib-brand;
    color:#CAFFB2;
}

.theme--content {
    background-color:$color-white;
}

// Sections

.styleguide-section {
    border-bottom:4px solid #efefef;
    margin-bottom:30px;
    padding-bottom:30px;
}

.styleguide-section .result,
.styleguide-section .comment {
    padding: 0 1em 1em 1em;
}

.styleguide-section .markup {
    padding: 1em;
}

.styleguide-layers li {
    padding:0.5rem 0;
    border-top: 2px solid #ddd;
    border-top-style: dashed;

}

// Menu

.styleguide-menu  {
    color:#CAFFB2;
}

.styleguide-menu .submenu {
    list-style-type: none;
}
.styleguide-menu a {
    display: block;
    text-decoration: none;
    margin-bottom:9px;
}


/* overide to make the buttons a bit prettier :) */
.styleguide .btn {
    background-color: $color-patternlib-brand;
    color: #fff;
    border-color: $color-patternlib-brand;
    border-radius:0.2rem;
}

.styleguide .btn:hover{
    color:  $color-patternlib-brand;
    background-color:#fff;
}

// Page header

$height-logo: 2.25rem;

$height-header: $height-logo + (2 * $spacing);

.header {
    @include clearfix;
    background-color: $color-white;
    box-shadow: 0 3px 5px 0 rgba(63,63,63,0.30);
}

.logo {
    font-size: 4rem;
}

.icon--leaf {
    width: 33px;
    height: 13px;
}

// Pattern library helpers

@include xsmall {
    .breakpoint-on-xsmall { background-color:$color-patternlib-brand; }
}
@include smallish {
    .breakpoint-on-smallish { background-color:$color-patternlib-brand; }
}
@include xsmall {
    .breakpoint-on-small { background-color:$color-patternlib-brand; }
}
@include medium {
    .breakpoint-on-medium { background-color:$color-patternlib-brand; }
}
@include large {
    .breakpoint-on-large { background-color:$color-patternlib-brand; }
}
@include xlarge {
    .breakpoint-on-xlarge { background-color:$color-patternlib-brand; }
}

.breakpoint-on-xsmall,
.breakpoint-on-smallish,
.breakpoint-on-small,
.breakpoint-on-medium,
.breakpoint-on-large,
.breakpoint-on-xlarge {
    padding: 1rem;
}
