// -----------------------------------------------------------------------------
// STYLEGUIDE
// -----------------------------------------------------------------------------

@import 'styles';

/* REALLY NEED TO TIDY THIS FILE SINCE WE DON'T NEED TO HACK IT ANYMORE  */

/*
//  Themes
*/

.theme--dark {
    background-color:#3D4149;
    color:#fff
}
.theme--fred {
    background-color:#7DC265;
    color:#CAFFB2;
}

.theme--content {
    background-color:#ffffff;
}

/* sections */
.styleguide-section {
    border-bottom:4px solid #efefef;
    margin-bottom:30px;
    padding-bottom:30px;
}

.styleguide-section .result,
.styleguide-section .comment {
    padding: 0 1em 1em 1em;
}

.styleguide-section .markup {
    padding: 1em;
}

.styleguide-layers li {
    padding:0.5rem 0;
    border-top: 2px solid #ddd;
    border-top-style: dashed;

}
/* menu */
.styleguide-menu  {
    color:#CAFFB2;
}

.styleguide-menu .submenu {
    list-style-type: none;
}
.styleguide-menu a {
    display: block;
    text-decoration: none;
    margin-bottom:9px;
}


/* overide to make the buttons a bit prettier :) */
.styleguide .btn {
    background-color: #7DC265;
    color: #fff;
    border-color: #7DC265;
    border-radius:0.2rem;
}

.styleguide .btn:hover{
    color:  #7DC265;
    background-color:#fff;

}
